#quiz{
    display:none;
}
#hidden{
    display: none;
}
.red{
    border-color: red;
    border-width: 5px;
}
.green{
    border-color: green;
    border-width: 5px;
}

.answers{
    margin-top: 4%;
}
.buttons{
    margin-top: 5%;
}
.blur{
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
#results{
    display: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translate(-50%,-50%);
    left: 50%;  
    width: 50%;
    top: 50%;
    z-index: 2;
    position: absolute;
    text-align: center;
}
.position{
    z-index: -1;
}